<h2>編集 <%= resource_name.to_s.humanize %></h2>

<%= render 'form', user: @user %>

<h3>アカウントの消去</h3>

<p><%= button_to "アカウントを消去します", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
