
<% if user_signed_in? %>
  <% unless @post.user_id == current_user.id %>
    <% if @like_to_post.present? %>
      <%= link_to 'いいね！を解除する', post_like_to_post_path(post_id: @post.id, id: @like_to_post.id), method: :delete, class: 'btn btn-light btn-sm', remote: true %>
    <% else %>
      <%= link_to 'いいね！', post_like_to_posts_path(post_id: @post.id), method: :post, class: 'btn btn-primary btn-sm', remote: true %>
    <% end %>
  <% end %>
<% end %>
<p>いいね！：<%= @like_to_posts_count %>件</p>
