// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.switch{
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #1F2125;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.switch:hover{
  background: #FFF;
  border: solid 3px #1F2125;/*線*/
  border-radius: 10px;/*角の丸み*/
}

.search-box {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 2px #1F2125;
  border-radius: 8px;
  background: #F7F8F9;
}
.search-box .box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #FFF;
  color: #1F2125;
  font-weight: bold;
}

.search-button{
  margin: auto;
}

.rank{
  padding: 0.5em 1em;
  margin: 1em 0;
  color: #232323;
  background: white;
  border-left: solid 10px #FECA30;
}

.rank:hover{
  background: #FFF;
  border: solid 3px #FECA30;/*線*/
  border-radius: 10px;/*角の丸み*/
}

.rank-box {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;

  border-radius: 8px;
  background: #F7F8F9;
}
.rank-box .rank-box-title {
  position: absolute;
  display: inline-block;
  top: -7px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 15px;
  color: #1F2125;
  // text-decoration: underline;
}

.index-body{
  background: #F7F8F9
}

.comment-content {
  position: relative;
	display: inline-block;
 	margin: 0.5em 0 0.5em 15px;
	padding: 7px 10px;
	min-width: 120px;
 	max-width: 100%;
 	color: #555;
	font-size: 16px;
	background: white;
  border-radius: 5px;
}

.comment-content:before{
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid white;
  -ms-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

.comment-delete{
  margin: 0;
  text-align: right;
}

.comment-name{
  margin: 0;
}

.comment-space{
  background: #F7F8F9;
}

.one-comment{
  margin: 0 0 1em 0;
}

.reply-zone{
  margin: 0 0 0 2em;
}

@media (max-width: 767px) {
  .container-fluid  {
    padding: 0 !important; /* 好みに応じて余白サイズを指定 */
    overflow-x: hidden !important; /* これがないと x軸方向に謎の余白が生じてしまう */
  }
}

.work-content {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;

  border-radius: 8px;
  background: #F7F8F9;
}
.work-content .work-content-title {
  position: absolute;
  display: inline-block;
  top: -7px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 15px;
  color: #1F2125;
  text-decoration: underline;
}

.post-index {
  margin-bottom: 0;
}
