// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.switch{
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #1F2125;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.switch:hover{
  opacity: .7;
}

a:-webkit-any-link{
  text-decoration: none;
}

.search-box {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 2px #1F2125;
  border-radius: 8px;
  background: #F7F8F9;
}
.search-box .box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #FFF;
  color: #1F2125;
  font-weight: bold;
}

.search-button{
  margin: auto;
}

.rank{
  padding: 0.5em 1em;
  margin: 1em 0;
  color: #232323;
  background: white;
  border-left: solid 10px #FECA30;
}

.rank:hover{
  opacity: .7;
}

.rank-box {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border-radius: 8px;
}
.rank-box .rank-box-title {
  position: absolute;
  display: inline-block;
  top: -7px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 15px;
  color: #1F2125;
}

.index-body{
  background: #F7F8F9;
}

.comment-content {
  position: relative;
	display: inline-block;
 	margin: 0.5em 0 0.5em 15px;
	padding: 7px 10px;
	min-width: 120px;
 	max-width: 100%;
 	color: #555;
	font-size: 16px;
	background: white;
  border-radius: 5px;
}

.comment-content:before{
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid white;
  -ms-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

.comment-delete{
  margin: 0;
  text-align: right;
}

.comment-name{
  margin: 0;
}

.comment-space{
  background: #F7F8F9;
}

.one-comment{
  margin: 0 0 1em 0;
}

.reply-zone{
  margin: 0 0 0 2em;
}

@media (max-width: 767px) {
  .container-fluid  {
    padding: 0 !important; /* 好みに応じて余白サイズを指定 */
    overflow-x: hidden !important; /* これがないと x軸方向に謎の余白が生じてしまう */
  }
}

.work-content {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border-radius: 8px;
  background: #F7F8F9;
}
.work-content .work-content-title {
  position: absolute;
  display: inline-block;

  line-height: 1;
  font-size: 15px;
  color: #1F2125;
  font-weight: bold;
}

.post-index {
  margin-bottom: 0;
}

.index-body {
  padding: 1rem;
}

.post-index-body{
  padding: 0.8rem;
}

.standard-button{
  display:inline-block;
    font:normal normal 300 1em 'Open Sans';

    color:#6c757d;
    brackground-color:transparent;
    border:1px solid #6c757d;
    border-radius:100px;

    padding: .5em 2em;

    background-size: 200% 100%;
    background-image: linear-gradient(to right, transparent 50%, #fed136 50%);
    transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
}
.standard-button:hover{
    color:rgba(255, 255, 255, 1);
    background-color:#fed136;
    background-position: -100% 100%;
    border:1px solid #fed136;
}

// Twitterシェアボタン
.flat_ss {
    color: #484848;
    display: inline-block;
    height: 1.7rem;
    font-size: 1rem;
    line-height: 1.7rem;
    vertical-align: middle;
    background: #eaeef1;
    text-decoration: none;
    margin: 0 0 1em .3em;
}

.flat_ss .iconback{
    display: inline-block;
    width: 1.7rem;
    height: 1.7rem;
    text-align: center;
    color: white;
}
.flat_ss .iconback .fa{
    font-size: 1rem;
    line-height: 1.7rem;
}
.flat_ss .iconback .fa{
	transition: .3s;
}

.flat_ss .btnttl{
    display: inline-block;
    width: 4.5rem;
    text-align: center;
    vertical-align:middle;
}

.flat_ss .tw {background:#1da1f3}
.flat_ss .fb {background:#3b75d4}
.flat_ss .fdly {background:#7ece46}
.flat_ss .pkt {background:#fd7171}
.flat_ss:hover .iconback .fa{
    -webkit-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    transform: rotateX(360deg);
}
// Twitterシェアボタンここまで

// いいねボタン
.like-want{
  overflow: hidden;
}
/* clearfix */
.like-want:before,
.like-want:after {
  content: "";
  display: table;
}
.like-want:after {
  clear: both;
}
.floats {
	float: left;
}
.like-now{
  color:#fed136;
}
.like-now:hover{
  background-color:white;
}
.like-not{
  background-color:white;
  color:gray;
  transition: .8s;
}
// .like-not:hover{
//   background-color:white;
//   color:#fed136;
// }
.like-count{
  padding: 0.3rem;
}
// いいねボタンここまで

// マイページのTwitterボタン
.share_btn1{
    display: inline-block;
    text-decoration: none;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 23px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
    transition: .3s;
}
.share_btn1 .fa{
    line-height: 35px;
}
.share_btn1:hover{
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.28);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
.shtw1{
    color: #22b8ff;
    background-image: -webkit-linear-gradient(#aeecff 0%, #57c8ff 100%);
    background-image: linear-gradient(#aeecff 0%, #57c8ff 100%);
}
// マイページのTwitterボタンここまで

.show-top{
  float: left;
}
.show-title{
  overflow: hidden;
}
/* clearfix */
.show-title:before,
.show-title:after {
    content: "";
    display: table;
}

.show-title:after {
    clear: both;
}
.show-day{
  text-align: right;
  padding: 1em 0 0 0;
  margin: 0;
}
