<p><%= @resource.email %>さん、こんにちは。Jobmiruです。</p>

<p>パスワードを変更される場合は、以下のリンク先で手続きをお願いします。</p>

<p><%= link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>パスワードはリンク先で手続きを行うまで、変更されません。</p>

<p>このメールには返信できませんのでご注意ください。ご質問等は、お問い合わせページからお願いします。</p>
